$color_primary: #579c87;
$color_secondary: #fdcb46;
$color_box_shadow: #CCCCCC;
$color_background_la_note: #FCDFDB;
$color_la_note: #613a3e;
$color_background_le_chic: #fff5fe;
$color_background_le_delice: #f9f9f9;
$color_menu_le_delice: #6eb6fa;
$color_background_la_palette: #fdfffd;
$color_menu_la_palette: #a2d58f;