@charset "UTF-8";
/*Polices*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Croissant+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Croissant+One&family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;900&display=swap");
/*Variables (couleurs)*/
/*Header & Footer*/
/*En-tête*/
header {
  background-color: #579c87;
  display: flex;
  justify-content: center;
}
header a {
  color: #fdcb46;
  font-size: 4rem;
}

/*Pied de page*/
footer {
  display: flex;
  justify-content: space-between;
  background-color: #579c87;
  font-size: 2rem;
  padding: 20px 30px 10px 0px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 40px;
}

.mentionslegales {
  color: #fdcb46;
  margin-left: 30px;
  cursor: pointer;
  animation: wiggle 3s infinite;
}

.contactez-nous {
  color: #fdcb46;
  margin-right: 30px;
  cursor: pointer;
  animation: wiggle 3s infinite;
}

/*Animation footer*/
@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  3% {
    transform: rotate(-2deg);
  }
  4% {
    transform: rotate(2deg);
  }
  5% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/*Responsive*/
@media screen and (max-width: 500px) {
  header a {
    font-size: 3rem;
  }

  footer {
    font-size: 1.2rem;
  }

  .mentionslegales {
    margin-left: 8px;
  }

  .contactez-nous {
    margin-right: 8px;
  }
}
/*Reset*/
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

/*Menus*/
.titre {
  font-family: "Montserrat", sans-serif;
  color: black;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 30px;
  font-size: 2rem;
}

.un_menu {
  text-align: center;
  margin: 0px 550px 150px 550px;
  padding: 40px 80px 40px 80px;
  box-shadow: 1px 1px 15px #CCCCCC;
  height: 1100px;
}

.entrees_lcf,
.plats_lcf,
.desserts_lcf,
.entrees_ldp,
.plats_ldp,
.desserts_ldp,
.entrees_lpg,
.plats_lpd,
.desserts_lpg {
  margin-top: 115px;
  margin-bottom: 115px;
}

.une_entree,
.un_plat,
.un_dessert {
  display: flex;
  text-align: center;
  margin: 10px 0px 10px 0px;
}

.entrees_title_lne_name,
.plats_title_lne_name,
.desserts_title_lne_name,
.entrees_title_lcf_name,
.plats_title_lcf_name,
.desserts_title_lcf_name,
.entrees_title_ldp_name,
.plats_title_ldp_name,
.desserts_title_ldp_name,
.entrees_title_lpg_name,
.plats_title_lpg_name,
.desserts_title_lpg_name {
  margin-bottom: 20px;
  background: linear-gradient(to top, #333333 0%, #333333 2px, transparent 3.5px) no-repeat;
  background-size: 0 100%;
  transition: background-size 300ms;
}
.entrees_title_lne_name:hover,
.plats_title_lne_name:hover,
.desserts_title_lne_name:hover,
.entrees_title_lcf_name:hover,
.plats_title_lcf_name:hover,
.desserts_title_lcf_name:hover,
.entrees_title_ldp_name:hover,
.plats_title_ldp_name:hover,
.desserts_title_ldp_name:hover,
.entrees_title_lpg_name:hover,
.plats_title_lpg_name:hover,
.desserts_title_lpg_name:hover {
  background-size: 100% 100%;
}

/*Menu La Note Enchantée*/
#bloc_page_lne {
  color: #613a3e;
}

.menu_lne {
  background-color: #FCDFDB;
}
.menu_lne_title {
  font-family: "Caveat", cursive;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.entrees_lne,
.plats_lne,
.desserts_lne {
  margin: 80px 0px 80px 0px;
}

.entrees_title_lne,
.plats_title_lne,
.desserts_title_lne {
  font-family: "Kalam", cursive;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.entrees_title_lne_name,
.plats_title_lne_name,
.desserts_title_lne_name {
  font-size: 1.4rem;
}

.une_entree_lne,
.un_plat_lne,
.un_dessert_lne {
  font-family: "Kalam", cursive;
  font-size: 1.1rem;
}
.une_entree_lne_prix,
.un_plat_lne_prix,
.un_dessert_lne_prix {
  margin-left: auto;
  font-weight: bold;
}

.menu_lne_bas {
  display: flex;
  margin: 20px 180px 0px 140px;
}
.menu_lne_bas_img {
  margin-bottom: 50px;
}
.menu_lne_bas_name {
  font-size: 2rem;
  margin-bottom: 40px;
  margin-top: 7px;
  font-family: "Caveat", cursive;
  font-weight: bold;
}

/*Menu Le Chic à la Française*/
.menu_lcf {
  background-color: #fff5fe;
}
.menu_lcf_title {
  margin-top: 30px;
  font-family: "Croissant One", cursive;
  font-size: 2.5rem;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e38a12+0,a768bc+51,b38cfa+100 */
  background: #e38a12;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #e38a12 0%, #a768bc 51%, #b38cfa 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #e38a12 0%, #a768bc 51%, #b38cfa 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e38a12 0%, #a768bc 51%, #b38cfa 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e38a12", endColorstr="#b38cfa", GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 70px;
}

.img_lcf {
  width: 34%;
  height: 10%;
}

.entrees_title_lcf,
.plats_title_lcf,
.desserts_title_lcf {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}
.entrees_title_lcf_name,
.plats_title_lcf_name,
.desserts_title_lcf_name {
  font-size: 1.1rem;
}

.entrees_title_lcf,
.une_entree_lcf {
  color: #c77513;
}

.plats_title_lcf,
.un_plat_lcf {
  color: #A56799;
}

.desserts_title_lcf,
.un_dessert_lcf {
  color: #6E4CCC;
}

.une_entree_lcf,
.un_plat_lcf,
.un_dessert_lcf {
  font-family: "Roboto Slab", serif;
  font-size: 1.1rem;
  margin-bottom: 15px;
}
.une_entree_lcf_prix,
.un_plat_lcf_prix,
.un_dessert_lcf_prix {
  margin-left: auto;
  font-weight: bold;
}

.un_plat_lcf {
  text-align: left;
}

/*Menu Le Délice des Papilles*/
.menu_ldp {
  background-color: #EDEFEF;
  font-family: "Kalam", cursive;
}
.menu_ldp_title {
  font-family: "Dancing Script", cursive;
  font-size: 3rem;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0229dd+0,0889fb+100 */
  background: #0229dd;
  /* Old browsers */
  background: -moz-linear-gradient(left, #0229dd 0%, #0889fb 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #0229dd 0%, #0889fb 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #0229dd 0%, #0889fb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0229dd", endColorstr="#0889fb", GradientType=1);
  /* IE6-9 */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 50px;
  margin-top: 30px;
}

.img_ldp {
  width: 36%;
  height: 30%;
}

.entrees_title_ldp,
.plats_title_ldp,
.desserts_title_ldp {
  display: flex;
  justify-content: space-between;
}
.entrees_title_ldp_name,
.plats_title_ldp_name,
.desserts_title_ldp_name {
  font-size: 1.1rem;
}

.une_entree_ldp,
.un_plat_ldp,
.un_dessert_ldp {
  font-size: 1.1rem;
}
.une_entree_ldp_prix,
.un_plat_ldp_prix,
.un_dessert_ldp_prix {
  margin-left: auto;
  font-weight: bold;
}

/*Menu La Palette du Goût*/
.menu_lpg {
  background-color: #fdfffd;
  font-family: "Kalam", cursive;
}
.menu_lpg_title {
  font-family: "Kaushan Script", cursive;
  font-size: 3rem;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#43973d+0,beff7f+100 */
  background: #43973d;
  /* Old browsers */
  background: -moz-linear-gradient(left, #43973d 0%, #beff7f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #43973d 0%, #beff7f 100%);
  /*  Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #43973d 0%, #beff7f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#43973d", endColorstr="#beff7f", GradientType=1);
  /* IE6-9 */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  margin-bottom: 30px;
  margin-top: 50px;
}

.img_lpg, .img_lpg_e {
  width: 37%;
  height: 40%;
}

.entrees_title_lpg,
.plats_title_lpg,
.desserts_title_lpg {
  display: flex;
  justify-content: space-between;
}
.entrees_title_lpg_name,
.plats_title_lpg_name,
.desserts_title_lpg_name {
  font-size: 1.1rem;
}

.une_entree_lpg,
.un_plat_lpg,
.un_dessert_lpg {
  font-size: 1.1rem;
}
.une_entree_lpg_prix,
.un_plat_lpg_prix,
.un_dessert_lpg_prix {
  margin-left: auto;
  font-weight: bold;
}

/*Responsive*/
@media screen and (max-width: 1680px) {
  .un_menu {
    margin: 0px 400px 150px 400px;
  }

  .img_lcf {
    width: 34%;
    height: 12%;
  }

  .img_ldp {
    width: 36%;
    height: 30%;
  }

  .img_lpg, .img_lpg_e {
    width: 37%;
    height: 40%;
  }
}
@media screen and (max-width: 1470px) {
  .un_menu {
    margin: 0px 300px 150px 300px;
  }
}
@media screen and (max-width: 1182px) {
  .un_menu {
    margin: 0px 100px 150px 100px;
  }

  .img_lcf {
    padding-top: 10px;
  }

  .img_ldp {
    padding-top: 6px;
  }

  .img_lpg, .img_lpg_e {
    padding-top: 6px;
  }
}
@media screen and (max-width: 900px) {
  .un_menu {
    margin: 0px 20px 150px 20px;
  }
}
@media screen and (max-width: 500px) {
  .titre {
    font-size: 1.5rem;
  }

  .un_menu {
    height: 1400px;
    margin: 0px 0px 150px 0px;
    padding: 20px 20px 20px 15px;
  }

  .une_entree,
.un_plat,
.un_dessert {
    text-align: left;
  }

  .entrees_title_lne_img,
.plats_title_lne_img,
.desserts_title_lne_img {
    overflow: hidden;
  }

  /*La note enchantée*/
  .menu_lne_title {
    font-size: 2rem;
  }

  .entrees_title_lne_name,
.plats_title_lne_name,
.desserts_title_lne_name {
    font-size: 1.2rem;
    margin-left: 6px;
  }

  .une_entree_lne_name,
.un_plat_lne_name {
    margin-right: 8px;
  }

  .une_entree_lne_prix,
.un_plat_lne_prix {
    padding-top: 17px;
  }

  .menu_lne_bas {
    margin: 0px 0px 0px 30px;
  }
  .menu_lne_bas_name {
    margin-top: 0px;
  }

  /*Le chic à la française*/
  .menu_lcf_title {
    font-size: 1.7rem;
  }

  .entrees_title_lcf_name,
.plats_title_lcf_name,
.desserts_title_lcf_name {
    font-size: 1rem;
  }

  .une_entree_lcf_name,
.un_plat_lcf_name {
    font-size: 1rem;
    margin-right: 8px;
  }
  .une_entree_lcf_prix,
.un_plat_lcf_prix {
    font-size: 1rem;
    padding-top: 17px;
  }

  .un_dessert_lcf {
    font-size: 1rem;
  }

  /*Le délice des papilles*/
  .menu_ldp_title {
    font-size: 2.2rem;
  }

  .img_ldp {
    padding-top: 19px;
  }

  .une_entree_ldp_name,
.un_plat_ldp_name,
.un_dessert_ldp_name {
    margin-right: 8px;
  }

  .un_plat_ldp_prix {
    padding-top: 19px;
  }

  /*La palette du goût*/
  .menu_lpg_title {
    font-size: 2.4rem;
  }

  .img_lpg_e {
    padding-top: 8px;
  }

  .img_lpg {
    padding-top: 19px;
  }

  .entrees_title_lpg_name,
.plats_title_lpg_name,
.desserts_title_lpg_name {
    font-size: 1.1rem;
  }

  .une_entree_lpg_name,
.un_plat_lpg_name,
.un_dessert_lpg_name {
    font-size: 1rem;
    margin-right: 8px;
  }
}

/*# sourceMappingURL=menu.css.map */
