@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Croissant+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Croissant+One&family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

$font-default: 'Montserrat', sans-serif;
$font-la_note_enchantee: 'Caveat', cursive;
$font-le_chic: 'Croissant One', cursive;
$font-le_delice: 'Dancing Script', cursive;
$font-la_palette: 'Kaushan Script', cursive;
$font_menu_le_delice-la_palette: 'Kalam', cursive;
$font-le_delice-la_palette:'Kalam', cursive;